html {
    background-image: url("./pictures/SmallSunglasses.png");  
    background-image: center;
}

header {
    font-size: 100px;
    color: whitesmoke;	
    padding: 20px;
    text-align: center;
    margin-bottom: 100px;
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif" Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	background-color: coral;	
    border-radius: 20px;
}

body { 
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h2, h4, h6 {
    font-size: 48px;
    text-align: center;
    margin-bottom: 10px;	
}

h1{
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif" Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	background-color: mediumaquamarine;	
	border-radius: 20px;
    color: coral;
    font-weight: bold;	
}

.hide {
    display: none;
}

.searchbar {
    margin-right: 100px;
    margin-left: 100px;
}

.tile .is-parent .box{
	background-color: mediumaquamarine;
    min-width: 150px;
}

.title {
	text-shadow: 1px 1px 2px whitesmoke;
	color: white;    
}

.subtitle {
	text-shadow: 1px 1px grey;
	color: whitesmoke;    
}

.strong {
	text-shadow: 1px 1px grey;
	color:coral;
}

.button {
	background-color: mediumaquamarine;
	color: white;
	border-width: 0px;		
}

#hide, #hideTitle {
    opacity: 0;
    pointer-events: none;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Header */
.modal-header {
    padding: 2px 10px;
    background-color: #c71e1e;
    color: white;
    margin: 0 auto; 
    width: 80%
  }
  
  /* Modal Content/Box */
  .modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 50px;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  }

  #textModal {
      color:black;
      text-align:center; 
      font-weight: bold;
      font-size:large;
  }
  
  /* The Close Button */
  .close {
    color: rgb(0, 0, 0);
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
